
.overwriteBootstrapClasses(@colors) {
  each(@colors, {
    --@{key}: @value;
    .text-@{key} {
      color: @value !important;
    }
    .badge-@{key} {
      background-color: @value;
    }
    .alert-@{key} {
      background-color: @value;
      border-color: @value;
    }
    .btn-@{key} {
      background-color: @value;
      border-color: @value;
    }
  });
}

:root,
:root.theme-light {
  .theme-light();
  .overwriteBootstrapClasses(.themeColorsLight());
}

:root.theme-dark {
  .theme-dark();
  .overwriteBootstrapClasses(.themeColorsDark());
}

@media (prefers-color-scheme: dark) {
  :root {
    .theme-dark();
    .overwriteBootstrapClasses(.themeColorsDark());
  }
}

body, html {
  background-color: var(--body-bg);
  color: var(--body-color);
}

.topbar, .backend-wrapper > .backend-main > .backend-navbar {
  background-color: var(--topbar-bg);
}

.card {
  background-color: var(--card-bg);
  box-shadow: 0 0.125rem 0.375rem var(--card-shadow-color);
}

.tab-content, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: var(--card-bg);
  color: var(--body-color);
}

.nav-tabs .nav-link {
  border-color: var(--border-color);
}

.list-group-item {
  background-color: var(--card-bg);
  border-color: var(--border-color);
}

.backend-wrapper > .backend-main > .backend-navbar {
  box-shadow: 2px 4px 4px var(--navbar-shadow-color);
}

a, a:hover, .table, .subheading1, pre {
  color: var(--body-color);
}

.subheading1, .table thead th, .table-sm thead th {
  color: var(--link-color);
}

.table thead th {
  background-color: var(--body-bg);
}

hr, .table {
  border-color: var(--border-color);
}

.table th, .table td {
  border-top: 1px solid var(--border-color);
}

.custom-select {
  background: var(--custom-select-arrow);
  border-color: var(--body-color);
}

.form-control, .form-control:focus, .form-control:active, .custom-select {
  background-color: var(--input-bg);
  color: var(--body-color);
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--input-group-bg);
  color: var(--link-color);
}

.custom-control-label::before {
  background-color: var(--input-bg);
  border-color: var(--checkbox-border-color);
  color: var(--link-color);
}

.custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--checkbox-checked-bg);
}

.input-group-text {
  background-color: var(--input-color);
  color: var(--body-color);
  *:not(i, .fa) {
    color: var(--link-color);
  }
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--table-stripe-color);
}

.save-wrapper {
  background-color: var(--card-bg);
}

::-webkit-scrollbar-track {
  background: var(--body-bg) !important;
  border-color: var(--body-bg) !important;
}

.custom-control-label::before {
  background-color: var(--input-bg);
}

.form-counter .btn, .form-counter .btn:hover, .form-counter .btn:focus {
  background-color: var(--input-bg);
  color: var(--body-color);
}

.brand-logo {
  display: var(--brand-logo-display);
}

.brand-logo-white {
  display: var(--brand-logo-white-display);
}

.dropdown-item-text, .nav-tabs .nav-link, .page-link, .page-text, .page-item.active .page-link,
.page-item.active .page-text {
  color: var(--link-color);
}

.btn-light, .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active {
  color: var(--link-color);
  background-color: var(--body-bg);
  border-color: var(--border-color);
}

.btn-link {
  color: var(--btn-link-color);
}
.btn-link:hover {
  color: var(--btn-link-hover-color);
}

.dropdown-menu {
  background-color: var(--card-bg);
  border-color: var(--border-color);
  color: var(--body-color);
  box-shadow: 0 0.125rem 0.625rem var(--navbar-shadow-color);
}

.dropdown-item {
  color: var(--body-color);
}

.fa-info-circle {
  color: var(--body-color);
}

.alert .fa-info-circle {
  color: var(--icon-color);
}

.daterangepicker, .daterangepicker .calendar-table {
  background-color: var(--card-bg);
  border-color: var(--border-color);
  color: var(--body-color);
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: var(--card-bg);
  color: var(--body-color);
}

.daterangepicker td.in-range {
  background-color: var(--daterangepicker-accent-color);
  color: var(--body-color);
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: var(--body-color);
  border-color: var(--body-color);
}

.daterangepicker .ranges li:hover {
  background-color: var(--daterangepicker-accent-color);
  color: var(--body-color);
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: var(--daterangepicker-accent-color);
  border-color: transparent;
  color: inherit;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--table-accent-color);
  color: var(--body-color);
}
/*
.input-group:not(.file-caption-main) {
  background-color: var(--input-group-bg);
  border-color: var(--input-group-border-color);
}
*/

::-webkit-calendar-picker-indicator {
  filter: invert(var(--invert-color));
}

.file-caption-name {
  color: var(--body-color);
}

.list-group-item:nth-of-type(odd) {
  background-color: var(--body-bg);
}

.list-group-item.active {
  color: var(--icon-color);
  background-color: var(--list-group-color);
  border-color: var(--list-group-color);
}

.close.fileinput-remove {
  color: var(--link-color);
}

.select2-container--default .select2-selection--multiple {
  background-color: var(--input-bg);
  border-color: var(--border-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--input-group-bg);
  border-color: var(--input-group-border-color);
}

.select2-dropdown {
  background-color: var(--card-bg);
  border-color: var(--border-color);
  color: var(--body-color);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--table-accent-color);
  color: var(--body-color);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: var(--table-accent-color);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: var(--input-border-focus-color);
}

#ulVK .input-group {
  background-color: var(--input-bg);
  border-color: var(--border-color);
}

.form-control:focus {
  border-color: var(--input-border-focus-color);
}

.table-hover tbody tr:hover {
  background-color: var(--table-accent-color);
  color: var(--body-color);
}

.modal-content {
  background-color: var(--card-bg);
}

@media (min-width: 992px) {
  #modal-setup-assistant .modal-content {
    background: var(--wizard-bg);
  }
}

#modal-setup-assistant .close > span, .modal-content .close {
  color: var(--body-color);
}

#dropdown-search .dropdown-header {
  color: var(--sidebar-accent-color);
}

#dropdown-search .icon-wrapper svg {
  color: var(--card-bg);
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  background-color: var(--card-bg);
  color: var(--body-color);
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: var(--body-color);
}

.accordion-row.active {
  background-color: var(--body-bg);

}
input.file-caption-name::placeholder {
  color: var(--body-color);
}

.CodeMirror {
  background-color: var(--body-bg) !important;
  color: var(--body-color) !important;
}

.CodeMirror-cursor {
  border-color: var(--body-color) !important;
}

.systemcheck .test-name {
  color: var(--body-color);
}

#area_container {
  background-color: var(--body-bg) !important;
}

#area_editor {
  background-color: var(--card-bg) !important;
}

pre#debug {
  color: var(--body-color);
}

.nav-tabs > li > a > .badge {
  background-color: var(--primary);
}

#notify-drop .close.close-notify, #notify-drop .dropdown-item-text {
  color: var(--body-color);
}
